<template>
    <div class="text">
        <h2>Composition API</h2>
        <h2>{{ greetingMsg }} {{ greetingUser }}</h2>
    </div>
</template>

<script>
import {ref} from 'vue'
    export default {
        setup(){
            const greeting = ref({msg:'Hello',user:'kiw'})
            setTimeout(()=>{
                greeting.value.msg = 'mo',
                greeting.value.user = 'JO'
            }, 3000)
            return{
                greetingMsg: greeting.value.msg,
                greetingUser: greeting.value.user,
            }
        }
    }
</script>

<style scoped>
.text{
    text-align: center;
}
</style>
