<template>
    <div class="text">
        <h2>{{ greeting }}</h2>
        <h2>{{ sayHi }}</h2>
        <P><button @click="newGreeting">Regular function</button></P>
        <P><button @click="newGreeting2">Anonymous function</button></P>
        <P><button @click="newGreeting3">Arrow function</button></P>
        <P><input type="text" @input="setFirstname"></P>
    </div>
</template>

<script>
import { computed, ref } from 'vue'
    export default {
        setup(){
        const greeting = ref('oh oh')
        const user = ref({firstname:'' ,lastname:''})
     
        const setFirstname = ($event) =>{
            user.value.firstname = $event.target.value
        }

        const sayHi = computed(() => {
            return 'Hi ' + user.value.firstname
        })

        function newGreeting(){
            greeting.value = 'Hi Jame'
        }
        const newGreeting2 = function(){
            greeting.value = 'Hi Mark'
        }
        const newGreeting3 = ()=>{
            greeting.value = 'Hi Jim'
        }
            return{greeting, newGreeting, newGreeting2, newGreeting3, setFirstname, sayHi}
        }
    }
</script>

<style scoped>
.text{
    text-align: center;
}
</style>
