<template>
    <div class="text">
        <h2>Two Way</h2>
        <p>{{ user.firstname }} {{ user.lastname }}</p>
        First Name:<input type="text" v-model="user.firstname" placeholder="firstname">
        Last Name:<input type="text" v-model="user.lastname" placeholder="lastname">
    </div>
</template>

<script>
import {ref, watch} from 'vue';
    export default {
        setup(){
            const user = ref({ firstname:'', lastname:'' })
            watch(
                [
                    ()=> user.value.firstname,
                    ()=> user.value.firstname
                ],
                (newValue,oldValue) => {
                console.log('New Value', newValue[0])
                console.log('Old Value', oldValue[0])
                console.log('New Value', newValue[1])
                console.log('Old Value', oldValue[1])
            })
            return{user}
        }
    }
</script>

<style scoped>
.text{
    text-align: center;
}
</style>
